.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-box {
    width: 500px;
    height: 200px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.links-to-playgrounds {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}